@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} */

@layer base {
    /* Инпут типа range */
    input[type="range"],
    input[type="range"]::-webkit-slider-runnable-track,
    input[type="range"]::-webkit-range-track,
    input[type="range"]::-webkit-range-tumb,
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="range"]::-webkit-range-track {
        background-color: darkmagenta;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        background-color: darkorchid;
        border-radius: 50%;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
        cursor: pointer;
    }

    /* Полоса прокрутки */
    /* Для фаерфокса */
    * {
        scrollbar-width: 2px;
        scrollbar-color: rgb(207, 206, 206);
    }

    /* Работает в Chrome, Edge и Safari */
    *::-webkit-scrollbar {
        width: 2px;
    }

    *::-webkit-scrollbar-track {
        background: none;
        border-bottom-right-radius: 20px;
        height: calc(100% - 20px);
        
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(196, 154, 240);
        border-radius: 20px;
    }
}
