@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} */

@layer base {
    input[type="range"],
    input[type="range"]::-webkit-slider-runnable-track,
    input[type="range"]::-webkit-range-track,
    input[type="range"]::-webkit-range-tumb,
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="range"]::-webkit-range-track {
        background-color: darkmagenta;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        background-color: darkorchid;
        border-radius: 50%;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
        cursor: pointer;
    }
}

